@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v36-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v36-latin-700.woff2') format('woff2');
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", 'Arial', 'sans-serif';
    font-size: 18px;
    line-height: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* header */

.header {
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header-link+.header-link {
    padding-left: 32px;
    color: #000;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header-link {
    color: #000;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 32px;
}

.header-tel {
    padding: 8px 16px;
    border-radius: 5px;
    background: var(--blue, #00BAFC);
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: 32px;
}

.header-tel:hover {
    border-radius: 5px;
    border: 3px solid var(--blue, #00BAFC);
    background: #FFF;
    color: #00BAFC;
}

.header-tel:active {
    border-radius: 5px;
    background: rgba(0, 186, 252, 0.60);
    color: #FFF;
    border: none;
}

.header-link:hover{
    text-decoration: underline;
}

.dropdown-box {
    position: absolute;
    display: grid;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.10);
    margin-top: 16px;
    transform: translate(10px, 0px);
    text-align: center;
    display: none;
}

.dropdown-link {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header-link:hover + .dropdown-box {
    display: block;
    display: grid;
}

.dropdown-link:hover {
    background: var(--blue, #00BAFC);
}


/* Biznesingizni keyingi bosqichga
olib chiqing */

.hero .container {
    display: flex;
}

.hero {
    margin-top: 157px;
    padding-bottom: 80px;
}

.hero-info {
    width: 550px;
}

.hero-frame {
    border: none;
}

.hero-heading {
    color: #000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    padding-bottom: 16px;
}

.hero-text {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding-bottom: 20px;
}

.hero-link {
    padding: 8px 16px;
    border-radius: 5px;
    background: var(--blue, #00BAFC);
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.hero-link:hover {
    background: rgba(0, 186, 252, 0.80);
}

.hero-link:active {
    background: rgba(0, 186, 252, 0.60);
}

.hero-frame {
    margin-left: 172px;
}

/* xizmatlar */

.serve {
    padding-bottom: 56px;
}

.serve-heading {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 56px;
}

.serve-text {
    width: 719px;
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 200px;
    padding-bottom: 24px;
}

.serve-table {
    width: 280px;
    padding: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.10);
}

.serve-pic {
    margin-left: 40px;
}

.serve-table-heading {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.serve-table-text {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.serve-boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-bottom: 48px;
}

.serve-boxes {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    gap: 70px;
    margin-left: 220px;
    padding-bottom: 48px;
}

.serve-table:hover {
    box-shadow: 0px 12px 21px 0px rgba(0, 0, 0, 0.10);
}

.serve-table:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

.serve-put-link {
    padding: 8px 16px;
    border-radius: 5px;
    background: var(--blue, #00BAFC);
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: 410px;
}

.serve-tag-link {
    color: var(--blue, #00BAFC);
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    padding-left: 16px;
}

.serve-put-link:hover {
    background: rgba(0, 186, 252, 0.80);
}

.serve-put-link:active {
    background: rgba(0, 186, 252, 0.60);
}

/* Biz qanday ishlaymiz? */

.about-heading {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 56px;
}

.about-text {
    width: 719px;
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 200px;
    margin: 0;
    padding-bottom: 24px;
}

.about-mini-box {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 150px;
    margin-bottom: 48px;
}

.mini-heading {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    padding-bottom: 10px;
}

.mini-text {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 493px;
    margin: 0;
}

.about-mini-boxx {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 150px;
    margin-bottom: 48px;
}

.mini-title {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    padding-bottom: 16px;
}

.mini-textal {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 600px;
    margin: 0;
}

.forward {
    margin-left: 500px;
    margin-bottom: 100px;
}

/* Buyurtma berish */

.step {
    background: var(--blue, #00BAFC);
    margin-top: 60px;
    display: flex;
    padding: 56px 100px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.step-heading {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.step-text {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 760px;
    padding-left: 200px;
    padding-bottom: 28px;
}

.step-form {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 5px;
    background: #FFF;
    width: 348px;
    margin-left: 370px;
}

.step-form-put {
    width: 300px;
    padding: 16px;
    border-radius: 5px;
    background: var(--light-grey, #F3F3F3);
    border: none;
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.step-select {
    border: none;
    appearance: none;
    width: 330px;
    height: 56px;
    padding: 16px;
    border-radius: 5px;
    background: var(--light-grey, #F3F3F3);
    color: #000;
    opacity: 0.5;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.step-icon {
    position: absolute;
    transform: translate(140px, 165px);
    display: block;
}

.step-form-but {
    padding: 8px 16px;
    border-radius: 5px;
    background: var(--blue, #00BAFC);
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

/* Footer */

.footer {
    background: var(--black, #191919);
    padding-bottom: 56px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

.footer-info {
    width: 320px;
}

.footer-heading {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 56px;
    margin: 0;
    padding-bottom: 16px;
}

.footer-text {
    width: 320px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.footer-linkes {
    display: grid;
    gap: 8px;
}

.footer-link {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 110px;
}

.net-pic {
    padding-right: 10px;
}

.footer-link-box {
    margin-left: 30px;
}

.footer-inter {
    margin-left: -80px;
}

.footer-link:hover {
    color: var(--blue, #00BAFC);
}

.footer-link:active {
    color: var(--blue, #00BAFC);
    opacity: 0.6;
}